services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_PID=Express
      - MSSQL_SA_PASSWORD=P4ssword!
    ports:
      - 1433:1433
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'P4ssword!' -Q 'SELECT 1' -C || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    networks:
      - app-network

  init-db:
    image: mcr.microsoft.com/mssql-tools
    volumes:
      - mssql_data:/var/opt/mssql  # Reuse mssql volume
    command: >
      bash -c "
        until /opt/mssql-tools/bin/sqlcmd -S mssql -U sa -P 'P4ssword!' -Q 'CREATE DATABASE [word-sanitizer-db]';
        do echo 'Waiting for MSSQL...'; sleep 2; done;
        echo 'Database created!'
      "
    depends_on:
      mssql:
        condition: service_healthy
    networks:
      - app-network

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.8
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=P4ssword!
    command:
      - start-dev
      - --import-realm
    volumes:
      - ./src/test/resources/keycloak-realm.json:/opt/keycloak/data/import/keycloak-realm.json
    ports:
      - 8085:8080
    networks:
      - app-network

  app:
    build:
      context: .
      dockerfile: Containerfile
    ports:
      - 8080:8080
    environment:
      - SPRING_DATASOURCE_URL=jdbc:sqlserver://mssql:1433;databaseName=word-sanitizer-db;encrypt=false;trustServerCertificate=true
      - SPRING_DATASOURCE_USERNAME=sa
      - SPRING_DATASOURCE_PASSWORD=P4ssword!
      - JDBC_DATABASE_URL=jdbc:sqlserver://mssql:1433;databaseName=word-sanitizer-db;encrypt=false;trustServerCertificate=true
      - JDBC_DATABASE_USERNAME=sa
      - JDBC_DATABASE_PASSWORD=P4ssword!
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/SensitiveWordAPI/protocol/openid-connect/certs
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      mssql:
        condition: service_healthy
      init-db:
        condition: service_completed_successfully
      keycloak:
        condition: service_started
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mssql_data:

